<a href="https://colab.research.google.com/github/TejaTadepalli/GHW-2022-December/blob/main/Machine%20Learning%20Track/GHW_2022_12_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
# Basic Declarations

my_integer = 6
my_floating_point_number = 16.5
foo = 12.1
my_string = 'hello!'
my_other_string = "hey!"
my_boolean = False

my_integer, my_floating_point_number, foo, my_string, my_other_string, my_boolean

(6, 16.5, 12.1, 'hello!', 'hey!', False)

In [ ]:
# some arithmetic examples

a = 26
b = 5

a_plus_b = a + b
a_minus_b = a - b
a_times_b = a * b
a_divided_by_b = a / b

a_plus_b, a_minus_b, a_times_b,a_divided_by_b

(31, 21, 130, 5.2)

In [ ]:
a_integer_divided_by_b = a // b

a_integer_divided_by_b

5

In [ ]:
a_modulo_b = a % b
a_modulo_b

1

In [ ]:
a_exponent_b = a ** b
a_exponent_b

11881376

In [ ]:
day_of_the_month = 4

day_of_the_month += 1 # this will instead say day_of_the_month=day_of_the_month+1

day_of_the_month

5

In [ ]:
x = 10

x **= 2 # this will say (x=x raised to 2) or x=x^2

x

100

In [ ]:
x += 1  # smth like x=x+1

In [ ]:
x

101

# Strings
 MARKDOWN
## Subtitle

In [ ]:
# String Operations

my_name = 'Will'

greeting = 'Hello ' + my_name + '!' + str(2)  # we can't directly type 2... hence we say that "turn 2 into a string" with the help of str(2)

greeting

'Hello Will!2'

In [ ]:
favorite_drink = 'cortado'
n = 20
fun_fact = f'My favorite coffee drink is a {favorite_drink}. I want to drink {n} of them' # f is used for "format-string" purposes

fun_fact

'My favorite coffee drink is a cortado. I want to drink 20 of them'

In [ ]:
oh_the_places_youll_go = 'congratulations, today is your day; you\'re off to great places, you\'re off and away!ðŸ˜‚'

len(oh_the_places_youll_go) # used to find the length of the string... it does include the punctuation,spaces but not the "\" (back-slashes)

85

In [ ]:
oh_the_places_youll_go[-1]  # inside the [], we will type the index we want... "-1" is the 1st index from the last

'ðŸ˜‚'

# Booleans

In [ ]:
sunny_in_seattle = False
i_want_coffee = True

sunny_in_seattle and i_want_coffee, sunny_in_seattle or i_want_coffee, not sunny_in_seattle

(False, True, True)

### Challenge
Create a variable called 'my_age' that holds your age and one called 'my_name' that contains your name. Then create a string that says 'My name is Will and my age is 26' (only replace Will and 27 with your variables).

In [ ]:
my_age = 20
my_name = 'Teja'

sentence = f'My name is {my_name} and my age is {my_age}.'

sentence

'My name is Teja and my age is 20.'

In [ ]:
cities = [              # creating a list to store similar data
    'Nashville',
    'Boston',
    ]

cities

['Nashville', 'Boston']

In [ ]:
cities.append('Seattle')  # append 'Seattle' to the end of the list

cities

['Nashville', 'Boston', 'Seattle']

In [ ]:
cities[2], cities[0]      # accessing list items

('Seattle', 'Nashville')

In [ ]:
my_string = 'hello!'

for char in my_string:
  print(char)

h
e
l
l
o
!

In [ ]:
for city in cities:       # the variable 'city' can be anything as it is a temporary variable for this scope
  print(city)

Nashville
Boston
Seattle

In [ ]:
for i in range(10):     # range(10) will print the number 0-9, i.e. if range(n) then it will print 0-(n-1)
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
city_populations = {        # creating a dictionary in a series of "key-value" pairs
    'Nashville': 690000,
    'Boston': 684000,
}

city_populations

# dictionary are also called "HASH-MAPS" or "HASH-TABLES"
# very important

{'Nashville': 690000, 'Boston': 684000}

In [ ]:
import json   # a python library for using json-type files

json.dumps(city_populations)    # using this json, we can create a json-type file from a given dictionary

'{"Nashville": 690000, "Boston": 684000, "Seattle": 720000}'

In [ ]:
city_populations['Boston']  # indexing to retrieve the data for a particular item

# lists are ordered
# dictionary are unordered (python 3-6) but from python 3-7, they were ordered... we can basically retrieve them from the order they were inserted in... (TECHNICALLY ORDERED)

684000

In [ ]:
city_populations['Seattle'] = 720000    # inserting/updating a "key-value" pair into a dictionary

In [ ]:
city_populations

{'Nashville': 690000, 'Boston': 684000, 'Seattle': 720000}

In [ ]:
# to get the "keys" of a given dictionary

city_populations.keys()

dict_keys(['Nashville', 'Boston', 'Seattle'])

In [ ]:
# we can make it into a list

list(city_populations.keys())

['Nashville', 'Boston', 'Seattle']

In [ ]:
for key in city_populations.keys():   # to iterate through the dictionary according to the "keys"
  print(key)

Nashville
Boston
Seattle

In [ ]:
for key in city_populations:          # to iterate through the dictionary
  print(key)

Nashville
Boston
Seattle

In [ ]:
city_populations.values()             # to get the "values" of a given dictionary

dict_values([690000, 684000, 720000])

# Challenge
Create a dictionary that maps the names of you and a couple family members or friends to their ages. Then give yourself a birthday by adding 1 to your age, and display the resulting dictionary.

In [ ]:
our_ages = {
    'Teja': 20,
    'Raj': 17,
}

our_ages['Teja'] += 1

our_ages

{'Will': 27, 'Richard': 23}

In [ ]:
# NESTED DICTIONARY

our_profiles = {
    'Teja' : {
        'Age' : 20,
        'Address' : 'Pune'
    },
}

our_profiles

{'Teja': {'Age': 20, 'Address': 'Pune'}}

In [ ]:
# IF CONDITION

pinapple_belongs_on_pizza = True

if pinapple_belongs_on_pizza:
  print('I like pineapple on pizza and I don\'t care who knows!')

I like pineapple on pizza and I don't care who knows!

In [ ]:
# IF-ELSE CONDITION

mashed_potatoes_are_good = False

if mashed_potatoes_are_good:
  print('I like mashed potatoes')
else:
  print('Mashed potatoes are literally baby food.')

Mashed potatoes are literally baby food.

In [ ]:
my_age = 20

if my_age >= 16:
  print('You can get a drivers license in the US!')

if my_age != 22:
  print('I don\'t know about you, but I\'m NOT feeling 22!')

You can get a drivers license in the US!
I don't know about you, but I'm NOT feeling 22!

In [ ]:
tempurature_f = 82
weather = 'Sunny'

if tempurature_f > 70 and weather == 'Sunny':
  print('Let\'s go to the beach!')
elif tempurature_f < 32 and weather == 'Snowy':
  print('Let\'s go skiing!')
else:
  print('Let\'s stay inside and have some soup.')

Let's go to the beach!